# This is a comment.
[mysqld]
#initialize # initialize data directory and generate password (see log for it)
#console # print log to console
log-error # write log to host_name.err in data directory
#log-error="C:\Program Files\mysql-5.7.21-winx64\data\log.err" # write log to specified file
basedir="C:\Program Files\mysql-5.7.21-winx64"
datadir="C:\Program Files\mysql-5.7.21-winx64\data"