table.music {
	float: left;
	margin: 2px;
	border-collapse: collapse;
}
table.music caption {
	text-align: left;
}
table.music th {
	border: 1px solid black;
	padding: 2px;
}
table.music td {
	border: 1px solid black;
	padding: 2px;
}
